.dragdrop-table {
    border-radius: 10px;
}

.dragdrop-div-margin {
    margin: 8px;
}

.dragdropcontext-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dragdrop-div-table {
    display: flex;
    justify-content: center;
    height: 100%;
}

.droppable-table {
    padding: 4px;
    width: 250px;
    min-height: 500px;
    text-align: center;
}

.draggable-table {
    padding: 16px;
    margin: 0px 0px 8px 0px;
    min-height: 50px;
    background-color: #4069e1;
    color: white;
}
